# Python
.venv/
*.py[cod]
__pycache__

# Project
pyproject.toml
.flake8
.*ignore
.isort.cfg
Makefile
README.md
*.session

# Texts
*.mo

# Environment
.env*
tgclient.session

# Docker
docker-compose*.yml
Dockerfile

# Editors
.idea/
tags
