[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = ">=2.14.0"
telethon = ">=1.23.0"
pydantic = ">=1.8.2"
coolname = ">=1.1.0"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
ipython = "*"

[requires]
python_version = "3.8"

[scripts]
khassan_o_vbot = "python -m khassan_o_vbot"

[pipenv]
allow_prereleases = true
